<mat-toolbar>
    <mat-toolbar-row>
        <h1>SKYWAY</h1>
        <span class="menu-spacer"></span>
        <div>
            <button class="main-button" mat-raised-button color="primary" [matMenuTriggerFor]="stockMenu">Stock</button>
            <mat-menu #stockMenu="matMenu">
                <button mat-menu-item>Create Stock</button>
                <button mat-menu-item>Update Stock</button>
                <button mat-menu-item>View Stock</button>
                <button mat-menu-item>Delete  Stock</button>
            </mat-menu>
            <button class="main-button" mat-raised-button color="primary" [matMenuTriggerFor]="productMenu">Product</button>
            <mat-menu #productMenu="matMenu">
                <button mat-menu-item>Create Product</button>
                <button mat-menu-item>Update Product</button>
                <button mat-menu-item>View Product</button>
                <button mat-menu-item>Delete Product</button>
            </mat-menu>
            <button class="main-button" mat-raised-button color="primary" [matMenuTriggerFor]="billMenu">Billing</button>
            <mat-menu #billMenu="matMenu">
                <button mat-menu-item>Create Bill</button>
                <button mat-menu-item>Drafted Bill</button>
                <button mat-menu-item>View Bill</button>
            </mat-menu>
            <button class="main-button" mat-raised-button color="primary" [matMenuTriggerFor]="manufacturingMenu">Manufacturing</button>
            <mat-menu #manufacturingMenu="matMenu">
                <button mat-menu-item>Create Process</button>
                <button mat-menu-item>Update Process</button>
                <button mat-menu-item>View Process</button>
                <button mat-menu-item>Delete Process</button>
            </mat-menu>
        </div>
    </mat-toolbar-row>


</mat-toolbar>