<div>
    <h2>Create Component</h2>
    <mat-card>
        <form>
            <div class="dual-field-div">
                <mat-form-field>
                    <mat-label>Component Name</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Component Type</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>

            <br>
            <h3><b>Properties</b></h3>

            <div style="display: grid;">
                <button (click)="addLabel()" mat-mini-fab color="primary" style="grid-row: 1;" aria-label="Add Label">
                        <mat-icon >add</mat-icon>
                    </button>
                <div class="dynamic" style="grid-row: 2;">
                    <app-dual *ngFor="let l of labels"></app-dual>

                </div>
            </div>

            <mat-form-field style="display: grid;">
                <mat-label>Remarks</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>

            <mat-divider></mat-divider>

            <div style="display: grid;">
                <h3 style="grid-row: 1;"><b>Vendor Details</b></h3>
                <button (click)="addVendor()" mat-mini-fab color="primary" style="grid-row: 2;" aria-label="Add Vendor">
                        <mat-icon>add</mat-icon>
                    </button>
                <div style="grid-row: 3;">
                    <app-add-vendor *ngFor="let v of vendors"></app-add-vendor>

                </div>
            </div>
            <div class="dual-field-div" style="justify-content: space-around; margin-top: 10px">
                <button mat-raised-button color="accent" type="submit">Save Component</button>
            </div>

        </form>

    </mat-card>
</div>